@font-face {
  font-family: 'plank';
  src: url(./font/Octuple-max-demo.ttf);
}

@font-face {
  font-family: 'boeotia';
  src: url(./font/Boeotia.ttf);
}


body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
}

.logo {
  height: 110px;
  position: relative;
  left: 550px;
  top: 20px;
}

h1{
  margin: 0;
  padding: 0;
  font-size: 150px;
  position: relative;
  top: 200px;
  left: 205px;
  font-family: 'plank';
  color: white;
}

p {
  color: white;
  font-family: 'boeotia';
  margin:0;
  padding: 0;
}

.utama{
  left: 405px;
  font-size: 2rem;
  position: relative;
  top: 210px;
}

.kedua{
  position: relative;
  font-size: 2rem;
  top: 205px;
  left:685px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}


.semua{
  background-color: rgba(11, 114, 167, 0.5);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }

}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}


@media (min-width:200px) and (max-width: 690px) {
  
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
  }
  

  .logo {
    height: 100px;
    width: 300px;
    position: absolute;
    left: 110px;
  }

  h1{
    font-size: 50px;
    position: absolute;
    left: 70px;
    top: 350px;
  }
  .utama {
    font-size: 17px;
    position: relative;
    left: 60px;
    top: 405px;
  }

  .kedua {
    font-size: 15px;
    position: absolute;
    left: 210px;
    top: 430px;
  }


}
